body {
   /* background-image: url(../images/usa.png); 
    background-repeat: no-repeat;
    background-size: cover;  */
    background-color: rgb(70, 8, 185);
}

h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(red, white, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.background2 {
    background-image: url(../images/flag1.jpeg);
    background-size: cover;
}

.header {
    font-size: 120px;
    font-family: 'Concert One', cursive;
    text-align: center;
    margin-top: 20px;
    color: white;
}

.container {
    background-color: grey;
    border-radius: 44px;
    opacity: .9;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 560px;
    width: 1000px;
    margin-left: -500px;
    margin-top: -250px;    
}

#startBtn {
    position: absolute;
    top: 93%;
    left: 50%;
    height: 50px;
    width: 300px;
    font-size: 20px;
    margin-left: -150px;
    margin-top: -250px; 
    animation-name: startBtn;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes startBtn {
    0%   {background-color: red;
          color:blue;}
    50%  {background-color: white;
          color: red;}
    100% {background-color: blue;
          color: white;}
}

.timer {
    text-align: center;
    font-size: 50px;
}

.fiveLeft {
    color: red;
}

.eightLeft {
    color: orange;
}

.questionSize {
    font-size: 70px;
    text-align: center;
}

.answerSize {
    font-size: 40px;
    text-align: center;
    width: 70%;
    
}

.answer {
    padding-top: 7px;
    height: 45px;
    color: black;
    padding-left: 14px;
    background-color: white;
    border-radius: 4px;
    margin: 10px 143px;
  }

.answer:hover {
    background: rgba(57, 91, 243, 0.904);
  }

.finishedSize {
    font-size: 40px;
    text-align: center;
    margin-top: 27px;
}

.resultsHead {
    font-size: 60px;
    position: absolute;
    top: 81%;
    left: 20%;
}

.restartBtn {
    margin-top: 86px;
    text-align: center;    
}

.rightPic {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -89.5px;
    margin-top: -120px;
}

.wrongPic {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -120px;
    margin-top: -120px;
}

.noTimePic {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -120px;
    margin-top: -140px;
}

.rightWrong {
    position: absolute;
    top: 85%;
    left: 20%;
    font-size: 40px;
}
