body {
    background-image: url(../images/flag.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    font-size: 120px;
    font-family: 'Concert One', cursive;
    text-align: center;
    margin-top: 20px;
}

.container {
    background-color: blue;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 1000px;
    margin-left: -500px;
    margin-top: -250px;    
}

#startBtn {
    position: absolute;
    top: 93%;
    left: 50%;
    height: 50px;
    width: 200px;
    margin-left: -100px;
    margin-top: -250px; 
}

.timer {
    text-align: center;
    font-size: 50px;
}

.questionSize {
    font-size: 70px;
}

.answerSize {
    font-size: 40px;
}

.answer {
    padding-top: 7px;
    height: 45px;
    color: black;
    padding-left: 14px;
    background-color: white;
    border-radius: 4px;
    margin: 10px 0;
  }